
#corps {
	width:50em;
	height:70em;
	margin-left:4em;
	float:left;
	
	
	background-color:white;
	border-style:solid;
	border-width:2px;
	border-color:#990033;
	background-color:#E9E9E9;
	/*border-color:#AE0000;*/
	
	-moz-box-shadow:0px 0px 5px black;
	-ms-box-shadow:0px 0px 5px black;
	-o-box-shadow:0px 0px 5px black;
	-webkit-box-shadow:0px 0px 5px black;
	box-shadow:0px 0px 7px black;
}

#titreCorps {
	font-size:24px;
	border-style:solid;
	background-color:gray;
	width:auto;
	margin:auto;
	color:white;
}

.blockSpec {
	margin:auto;
	margin-top:1em;
	width:50em;
	height:19em;
	/*background-color:#990033;*/
}

#divSpec{
	float:left;
	width:20em;
	margin-left:2em;
	height:inherit;
	position:relative;
}


.figSpec {
	margin:auto;
	width:inherit;
	height:19em;
	position:absolute;
}

#distribution {
	width:inherit;
	height:inherit;
	top:0;
	bottom:0;
	position:absolute;
	opacity:0;
	background-color:black;
	
	-webkit-transition: opacity 0.5s linear; 
	-moz-transition: opacity 0.5s linear; 
	-ms-transition: opacity 0.5s linear; 
	-o-transition: opacity 0.5s linear; 
	transition: opacity 0.5s linear; 
}

#distribution:hover {
	opacity:0.7;
	color:white;
}


.imgSpec {
	width:inherit;
	height:inherit;
}

.imgSpec:hover {
	opacity:1;
}

#infoSpec {
	float:left;
	width:20em;
	height:inherit;
	margin-left:2em;
	font-size:small;
}


#titreSpec {
	margin-bottom:10px;
	font-size:20px;
	border-width:5px;
	border-top-style:double;
	border-bottom-style:double;
	text-align:center;
}

.lienSpec {
	text-decoration:none;
	color:gray;
}

#navPages {
	margin-top:1em;

}

#listePages {
	list-style-type:none;
	margin:auto;
}

#listePages li{
	display:inline-block;
	width:2em;
	height:2em;
	background-color:#990033;
	text-align:center;
	margin-right:1em;
	padding-top:0.5em;
		
	/*border-radius*/
	-moz-border-radius:10px;
	-ms-border-radius:10px;
	-webkit-border-radius:10px;
	-o-border-radius:10px;
	border-radius:10px;

}

#listePages a{
	text-decoration:none;
	color:white;
}

#listePages #PageAct {
	background-color:black;
	color:white;
}


.btnBloque {
}

#auth {
	margin-left:1em;
	width:20em;
	right:auto;
	float:left;
	height:10em;
	background-color:#E9E9E9;
	color:white;
}

#auth fieldset {
	border-top:none;
	text-align:right;
}

msgErr {
}

#btn {
	opacity:1;
	width:2em;
	height:1.5em;
	border-style:solid;
	border-width:1px;
	/*border-radius*/
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
	border-radius:3px;
}

.btnBloque {
	opacity : 0.7;
}


.lbl {

}

#logBloc {
	margin-left:1em;
	width:20em;
	right:auto;
	float:left;
	height:10em;
	background-color:#E9E9E9;
	color:white;
	
	border-style:solid;
	border-width:2px;
	border-color:#990033;
	background-color:#E9E9E9;
	/*border-color:#AE0000;*/
	
	-moz-box-shadow:0px 0px 5px black;
	-ms-box-shadow:0px 0px 5px black;
	-o-box-shadow:0px 0px 5px black;
	-webkit-box-shadow:0px 0px 5px black;
	box-shadow:0px 0px 7px black;

}

#compte {
	color:gray;
}